@import 'tailwindcss';

body {
    font-family:
        'Segoe UI',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        sans-serif;
    color: #c0d0d0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff24;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

pre.astro-code,
pre.astro-code code {
    font-family: 'Fira Code', ui-monospace, SFMono-Regular, Menlo, monospace;
    font-size: 0.875rem;
}

@layer base {
    pre.astro-code {
        border-radius: 0.125rem;
        padding: 0.75rem;
        background-color: #1c1c1eb0 !important;
    }
}
