@import 'tailwindcss';

body {
    font-family:
        'Segoe UI',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        sans-serif;
    color: #c0d0d0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff24;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}
